footer
    .container-fluid
        .row
            .col
                img.site_logo.img-fluid(src="icons/logo.svg", alt="site logo")
            .col 
                img.icon(src="icons/location.svg", alt="whatsapp contact")
                img.icon(src="icons/instgram.svg", alt="whatsapp contact")
                img.icon(src="icons/whatsapp.svg", alt="whatsapp contact") 