header
    .container-fluid
        .row
            .col-1
                img.open.icon(src="icons/side-bar-icon.svg", alt="nav icon")
            .col-10
                img.site_logo(src="icons/logo.svg", alt=" site icon")
            .col-1
                a(href="basket.html") 
                    img.icon(src="icons/basket.svg", alt="Shopping basket")