$main-color:#810016;
$white-color:#FAFAFA;

$blue-one:#1492E6;
$blue-two:#0A6AAB;

$dark-green-one:#0BAE1B;
$dark-green-two: #266E08;

$light-green-one:#29FF00;
$light-green-two:#158000;

$yellow-one:#EEFF00;
$yellow-two:#CC9600;

$main-one:#510016;
$main-two:#8B0016;

$black-one:#191919 ;
$black-two:#000000;


