- var pageTitle = ' البيتزا';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        include pug/layout/sidebar
        include pug/layout/header
        section#food_menu
            include pug/components/page_title
            .row.content
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6 
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا      
                .col-6 
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
                .col-6
                    .food_type
                        .type_price
                            span 7
                            span RAS
                    h3 يكتب ما يريد هنا
        include pug/layout/footer
        include pug/layout/scripts 
