.confirmation_container ,
.confirmation_container2
{
    position :absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;

    .confirmation
    {
        height: 500px;
        width: 500px;
        background: $white-color;
        border: 4px solid $blue-one;
        margin: auto;
        margin-top: 20% !important;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 576px)
        {
            width: 250px;
            height: 250px;
            margin-top: 40% !important;
        }
        img
        {
            width: 40%;
            margin-bottom: 25px;

            @media (max-width: 576px)
            {
                margin-bottom: 0;
            }
        }
        h3
        {
            color : $blue-one;
            margin: 20px 0;
        }
    }
}