.additions_container 
    .additional_confirmation
        div
            input(type="checkbox" , id="garlic" , name="garlic" , value ="garlic")
            label(for="garlic") ثوم
        div
            input(type="checkbox" , id="onions" , name="onions" , value ="onions")
            label(for="onions") بصل
        div
            input(type="checkbox" , id="no-onions" , name="no-onions" , value ="no-onions")
            label(for="no-onions") بدون بصل
        div
            input(type="checkbox" , id="hot-sauce" , name="hot-sauce" , value ="hot-sauce")
            label(for="hot-sauce") شطة
        div   
            input(type="checkbox" , id="ketchup" , name="ketchup" , value ="ketchup")
            label(for="ketchup") كاتشب
        button.done تمت الإضافة

                