.product
        .row
            .col-5
                .product_image
                    img(src="images/pizza.jpg", alt="")
            .col-7
                .product_description
                    h3 يكتب عنوان الاكلة
                    h3 المقاس :
                        span  l 
                    h3 العدد :
                        span  3
        .close_container
            img(src="icons/close.svg", alt="close")
        .reload_container
            img(src="icons/reload.svg", alt="reload")
        .price 
            span 74
            span sar