.bill
    .bill_number
        h4 رقم الفاتورة
        div 634
    .cost
        h4 السعر الإجمالى
        div
            span
                | sar 
            span
                | 74 
            
            